# .env

# Bot secret Discord token.
DISCORD_TOKEN=''

# Comma-separated list of channel names to which bot responses are restricted.
# Empty string for all channels.
POM_CHANNEL_NAMES=''

# Database credentials and details.
MYSQL_HOST = ''
MYSQL_USER = ''
MYSQL_DATABASE = ''
MYSQL_PASSWORD = ''
