# Editors
**/*.idea/
**/*.vscode/
**/*~
**/*.swp
**/*.vs/

# Environment
**/*.env
**/.venv

# Other
**/*.xml
**/errors.*
!**/errors.py

# Runtimes
**/package-lock.json
**/__pycache__
**/.pytest_cache

#MacOS
**/*.DS_Store
